/**
* Collected here are all styles which change for the theme settings (light or dark mode).
* Mixin naming convention: [selector]ThemeStyle.
*/
$transitionTime_bgFade: 500ms;

@mixin htmlThemeStyles() {
    @include backgroundThemeStyles;

    &[data-theme="dark"] {

        & body::before,
        & #app-wrapper .page-wrapper::before {
            transition: opacity $transitionTime_bgFade;
            opacity: 0;
        }

        & body::after,
        & #app-wrapper .page-wrapper::after {
            transition: opacity $transitionTime_bgFade;
            opacity: 1;
        }
    }
}

@mixin backgroundThemeStyles() {

    body,
    #app-wrapper .page-wrapper {

        // Gradient background fade
        &::before,
        &::after {
            content: '';
            inset: 0;
            position: absolute;
            transition: opacity $transitionTime_bgFade;
        }

        // Light mode background
        &::before {
            background: linear-gradient(180deg, var(--color-light-persist) 0%, var(--color-light2-persist) 100%);
            opacity: 1;
            z-index: -1;
        }

        // Dark mode background
        &::after {
            background: linear-gradient(180deg, var(--color-dark-persist) 0%, var(--color-dark2-persist) 100%);
            z-index: -2;
            opacity: 0;
        }
    }
}