@font-face {
    font-family: 'GreatVibes';
    src: local('GreatVibes'),
        url(assets/fonts/GreatVibes-Regular.woff2) format('woff2'),
        url(assets/fonts/GreatVibes-Regular.ttf) format('truetype');
    font-weight: 400;
}