$colors: (
    'light': #FBF7F5,
    'light2': #F6E8E1,
    'black': #000,
    'red': #BD3434,
);

$breakpoints: (
    'xs': 0px,
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
);

// Navigation
$navigationHeight: 70px;
