$breakpoints: (
    'xs': 370px,
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
);

// Page element sizes
$statusBarHeight: 24px;
$navigationHeight: 70px;

$mediaSituations: (
    'landscape': 'screen and (orientation: landscape)',
    'landscape-mobile': 'screen and (orientation: landscape) and (max-width: #{map-get($breakpoints, 'md')})',
);
