$breakpoints: (
    'xs': 370px,
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
);

// Page element sizes
$statusBarHeight: 24px;
$navigationHeight: 70px;
$contentMaxSizes: (
    'portrait-max-width': 450px,
    'portrait-max-height': 1024px,
    'landscape-max-width': 1024px,
    'landscape-max-height': 450px,
);

$mediaSituations: (
    'landscape': 'screen and (orientation: landscape)',
    'landscape-mobile': 'screen and (orientation: landscape) and (max-width: #{map-get($breakpoints, 'md')})',
    'fills-screen': '(max-width: #{map-get($contentMaxSizes, 'portrait-max-width')}) and (max-height: #{map-get($contentMaxSizes, 'portrait-max-height')}), (max-width: #{map-get($contentMaxSizes, 'landscape-max-width')}) and (max-height: #{map-get($contentMaxSizes, 'landscape-max-height')})',
);
