:root {
    --color-light: #FBF7F5;
    --color-light2: #F6E8E1;
    --color-black: #000;
    --color-red: #BD3434;
    --color-piano-black-key: #2b2b2b;
}

html {
    scroll-behavior: smooth;
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    max-height: 100vh;
    color: var(--color-black);
    background: linear-gradient(179.6deg, var(--color-light) 1.07%, var(--color-light2) 98.55%);
}
