@import 'mixins/appSize';

:root {
    --color-light: #FBF7F5;
    --color-light2: #F6E8E1;
    --color-red: #BD3434;
    --color-green: #34bd3b;
    --color-piano-black: #2b2b2b;
    --color-piano-white-key: #fff;
    --color-piano-black-key: #2b2b2b;
    --color-white: #fff;
    --color-black: #000;
    --content-padding: 8px;
    --border-radius-sm: 8px;
    --font-weight-bold: bold;
    --font-size-sm: 14px;
    --font-size-md: 14px;
    --content-portrait-max-width: #{map-get($contentMaxSizes, 'portrait-max-width')};
    --content-portrait-max-height: #{map-get($contentMaxSizes, 'portrait-max-height')};
    --content-landscape-max-width: #{map-get($contentMaxSizes, 'landscape-max-width')};
    --content-landscape-max-height: #{map-get($contentMaxSizes, 'landscape-max-height')};
}

[data-theme="dark"] {
    --color-light: #2b2b2b;
    --color-light2: #3b3b3b;
    --color-red: #ff7f7f;
    --color-green: #7fff7f;
    --color-piano-black: #fff;
    --color-piano-white-key: #fff;
    --color-piano-black-key: #2b2b2b;
    --color-white: #000;
    --color-black: #fff;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    min-width: 100vw;
    color: var(--color-black);
    background: linear-gradient(179.6deg, var(--color-light) 1.07%, var(--color-light2) 98.55%);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    & #__nuxt, #app-wrapper {
        min-height: inherit;
        min-width: inherit;
    }
}

a {
    text-decoration: none;
    color: var(--color-piano-black-key);
}
